<div class="row">
    <div class="col">
        <form asp-action="SearchMovie" asp-controller="IMDb">
        <label for="search">Search Films</label>
        <input type="text" name="search">
        </form>
    </div>
</div>