<h1>Search for a Film</h1>
<div class="container">
    <div class="row">
        <partial name="_SearchBar" />
    </div>
    <div class="row">
        <partial name="_SearchResults" />
    </div>
</div>